html, body {
    background-color: #FCFCFB;
}

body {
    padding-top: 40px;
}

#navigationLinks li a {
    color:#FCFCFB;
}

a {
    color: #606060;
}

p.pull-right a {
    color: #E2C90E;
}

p.pull-right {
    color: #fff;
}

.container > footer p {
    text-align: center; /* center align it with the container */
}

.content {
    background-color: #E2C90E;
    margin: 0 0;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.center70 {
    margin-left:auto;
    margin-right:auto;
    width:70%;
}

.center85 {
    margin-left:auto;
    margin-right:auto;
    width:85%;
}

.center90 {
    margin-left:auto;
    margin-right:auto;
    width:90%;
}

.center95 {
    margin-left:auto;
    margin-right:auto;
    width:95%;
}

.logged-in {
    margin-top:10px;
}

div.div-sidebar div hr {
    margin: 4px 0 10px 0;
}

.project-placeholder {
    padding: 10% 0 10% 0;
}

#notifications {
    font-size: 12pt;
}

.notification-placeholder {
    padding: 10% 0 10% 0;
}

#new-project-link {
    text-align: right;
}

.footer {
    padding-top:5px;
}

footer.footer p {
    font-weight: bold;
}

.div-content {
    background-color: #FCFCFB;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.div-sidebar, .div-sidebar h3, .div-content, .div-content h2 {
    color: #606060;
}

.div-content a {
    color: #DB8600;
    font-weight: bold;
}

.div-content {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 26px;
    margin-right: 4px;
    padding: 2% 0 2% 0;
}

.div-sidebar {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 4px;
    margin-right: 6px;
    padding: 3% 0 3% 0;
}

div.modal-footer input.btn-primary {
    background-color: #2C2C2C;
    background-image: -moz-linear-gradient(center top, #333333, #2F2F2F);
    background-image: -webkit-linear-gradient(top, #333333, #2F2F2F); 
}

div.modal-body {
    background-color: #FCFCFB;
}

form.modal-form {
    margin: 0;
}

div.modal-body div.control-group {
    margin-left: -50px;
}

div.controls p.help-block {
    margin: 0;
}

div.modal-body div.control-group label {
    font-weight: bold;
}

div.modal-header {
    background-color: #2C2C2C;
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    background-repeat: repeat-x;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

div.modal-header h3 {
    color: #FFFFFF;
}

div.modal-footer {
    border-top-width: 1;
    border-top-color: #E2A70E;
    color: #E2C90E;
    background-color: #E2C90E;
}

#newUserDiv {
    margin-bottom: 2px;
}

#oldPasswordDiv {
    padding-top: 20px;
}

#modalWelcome .modal-body h1 {
    text-align: center;
}

#modalWelcome .modal-body{
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

#modalWelcome {
}
