html, body {
    background-color: #eee;
}

body {
    padding-top: 40px;
}

.container > footer p {
    text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    margin: 0 0;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/*Centers the content*/
.center70 {
    margin-left:auto;
    margin-right:auto;
    width:70%;
}

.center85 {
    margin-left:auto;
    margin-right:auto;
    width:85%;
}

.footer {
    padding-top:5px;
}
