.div-brand {
    margin-top: 10px;
}

.pull-right {
    margin-top: -10px;
}

.navbar .input-small {
    margin-top: 5px;
}
    
.remember input[type=checkbox] {
    margin:0;
    height:13px;
    display:inline;
    vertical-align:text-top;
}

.sublogin-label {
    display:inline;
}

.sublogin-checkbox {
    margin-bottom: 6px;
    display:inline;
}

#rememberMe {
    margin-left: 0px;
}

.sublogin-span {
    color: #eee;
    margin-left: 2px;
    margin-right: 20px;
}

.home-form {
    margin-bottom: 6px;
}

.sublogin-fieldset {
    margin-bottom: 2px;
}

.div-description {
    padding: 15% 0 15% 0;
}

.div-register {
    padding: 10% 0 10% 0;
}
