html, body {
    height: 100%;
}

body {
    padding-top: 40px;
    background-color: #F5B000;
}

#navigationLinks li a {
    color:#FCFCFB;
}

a {
    color: #606060;
}

p.pull-right a {
    color: #F5B000;
}

p.pull-right {
    color: #fff;
}

.outerDiv {
    min-height: 100%;
}

.content {
    background-color: #FCFCFB;
    margin: 0 0;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.center70 {
    margin-left:auto;
    margin-right:auto;
    width:70%;
}

.center85 {
    margin-left:auto;
    margin-right:auto;
    width:85%;
}

.center90 {
    margin-left:auto;
    margin-right:auto;
    width:90%;
}

.center95 {
    margin-left:auto;
    margin-right:auto;
    width:95%;
}

.logged-in {
    margin-top:10px;
}

.project-placeholder {
    padding: 10% 0 10% 0;
}

.notification-placeholder {
    padding: 10% 0 10% 0;
}

#new-project-link {
    text-align: right;
    margin-top: 9px;
}

.footer {
    margin: -70px auto 0 auto;
}

footer.footer p {
    font-weight: bold;
    text-align: center;
}

.div-content {
 }

.div-sidebar, .div-sidebar h3, .div-content, .div-content h2 {
    color: #606060;
}

.div-sidebar a, .div-content a {
    color: #FF7E00;
    font-weight: bold;
}

.div-content {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 26px;
    margin-right: 4px;
    padding: 2% 0 2% 0;
}

.div-sidebar {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 4px;
    margin-right: 6px;
    padding: 3% 0 3% 0;
}

.div-sidebar hr {
    margin-top: 0;
}

div.modal-footer input.btn-primary {
    background-color: #2C2C2C;
    background-image: -moz-linear-gradient(center top, #333333, #2F2F2F);
    background-image: -webkit-linear-gradient(top, #333333, #2F2F2F); 
}

div.modal-body {
    background-color: #FCFCFB;
}

form.modal-form {
    margin: 0;
}

div.modal-body div.control-group {
    margin-left: -50px;
}

div.controls p.help-block {
    margin: 0;
}

div.modal-body div.control-group label {
    font-weight: bold;
}

div.modal-header {
    background-color: #2C2C2C;
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    background-repeat: repeat-x;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

div.modal-header h3 {
    color: #FFFFFF;
}

div.modal-footer {
    border-top-width: 1;
    border-top-color: #E2A70E;
    color: #F5B000;
    background-color: #F5B000;
}

#newUserDiv {
    margin-bottom: 2px;
}

#oldPasswordDiv {
    padding-top: 20px;
}

#modalWelcome .modal-body h1 {
    text-align: center;
}

#modalWelcome .modal-body{
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

#notificationsWrap a.notificationLink {
    font-size: 12pt;
}

#bodyHeader {
    text-align: right;
}

#notificationProjectLink a {
    color: #FF7E00;
    font-weight: bold;
}

#notificationSender {
    font-weight: bold;
}

#notificationTimestamp {
    font-weight: italic;
}

#notificationDescription {
}

#viewNotification .modal-body {
    padding-bottom: 0;
}

/* ProjectView.php */
p.chat-paragraph {
    background: #F5B000;
    -moz-border-radius: 7px; 
    -webkit-border-radius: 7px; 
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
}

p.own {
    background: #EDEDED;
}

.chat-sidebar hr {
    margin: 8px 0 4px 0;
}

p.admin-online-users-row {
    font-weight: bold;
    background: #FF7E00;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px;
    padding-left: 5px;
}

p.admin-online-users-row .admin-username {
    text-align: left;
}

p.admin-online-users-row .admin-label {
    float: right;
    padding-right: 5px;
}

.chat-row {
    cellpadding: 10;
}

.chat-username { 
    margin: 0px 0px 0px 0px;
    min-width: 150px;
    max-width: 150px;
    display: inline-block;
}

.chat-text {
    line-height: 12px;
}

.chat-sidebar {
    margin: 0 20px 0 0;
}

.chat-header {
    padding: 20px 0 20px 0;
    margin-left: 0;
}

.linksContent a {
    color: #FF7E00;
    font-weight: bold;
}

.chat-content {
    margin-bottom: 20px;
    height: 400px;
    overflow: auto;
    background-color: white;
    margin: 0 0 0 20px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.chat-message {
    margin: 10px 0 0 20px;
    padding-top: 10px;
}

.online-users-content {
    height: 200px;
    overflow: auto;
}

p.online-users-row {
    font-weight: bold;
    background: #F5B000;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px;
    padding-left: 5px;
}

#notificationLink {
    padding-right: 5px;
    color: #FF7E00;
    font-weight: bold;
}

#linkLink {
    padding: 0 5px 0 5px;
    color: #FF7E00;
    font-weight: bold;
}

#exitLink {
    padding-left: 5px;
    color: #FF7E00;
    font-weight: bold;
}

/* Home.php */
.div-brand {
    margin-top: 10px;
}

#loginDiv .pull-right {
    margin-top: -10px;
}

.navbar .input-small {
    margin-top: 5px;
}
    
.remember input[type=checkbox] {
    margin:0;
    height:13px;
    display:inline;
    vertical-align:text-top;
}

.sublogin-label {
    display:inline;
}

.sublogin-checkbox {
    margin-bottom: 6px;
    display:inline;
}

#rememberMe {
    margin-left: 0px;
}

.sublogin-span {
    color: #eee;
    margin-left: 2px;
    margin-right: 20px;
}

.home-form {
    margin-bottom: 6px;
}

.sublogin-fieldset {
    margin-bottom: 2px;
}

.div-description {
    padding: 10% 0 10% 0;
}

.div-register {
    padding: 10% 0 10% 0;
}

#addUser div {
    margin-bottom: 0px;
}
